body{
    background-color: rgb(229, 205, 205);
}

h1{
    color: rgb(255, 0, 242); text-align: center;
}

#Mov1{
    color: rgb(243, 242, 240);
}

#Mov2{
    color: rgb(239, 247, 18);
}

#Mov{
    color: rgb(203, 79, 79);
}

p{
    color: rgb(31, 11, 146);
}